body {
    /*background: linear-gradient(120deg, #f7cac9 0%, #f9e79f 100%);*/
    font-family: Arial, sans-serif;
    background-image: url(imagens/maca.jpeg);

}
/* INICIO CABECALHO */
.cabecalho {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    flex-wrap: wrap;
    margin-bottom: 70px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.cabecalho h2 {
    font-size: 45px;
}

.titulo {
    margin: 0;
    font-size: 27px;
}

.menu {
    display: flex;
}

.menu a {
    background-color: transparent;
    padding: 12px 3px;
    font-size: 18px;
    margin-left: 20px;
    text-decoration: none;
    color: azure;
    font-weight: bold;
    transition: 0.3s;
}

.menu a:hover {
    color: #8e8f91;
}

.cabecalho .menu .voltar_menu img {
    padding-top: 4px;
    width: 45px;
    height: 45px;
    border-radius: 10px;
    position: relative;
    top: -17px; 
}
/* FIM CABECALHO */

.posicao {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.cadastro-container {
    background: rgba(255, 255, 255, 0.95);
    position: relative;
    z-index: 2;
    border-radius: 18px;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.15);
    padding: 40px 30px 30px 30px;
    width: 370px;
    text-align: center;
    animation: slideDown 1s ease;
    opacity: 0.65;
}

.cadastro-container img {
    width: 80px;
    margin-bottom: 10px;
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% { transform: scale(1);}
    50% { transform: scale(1.07);}
    100% { transform: scale(1);}
}

.cadastro-container h1 {
    margin-bottom: 18px;
    /*color: #b76e79;*/
}

.input-group {
    margin-bottom: 18px;
    text-align: left;
}

.input-group label {
    /*color: #b76e79;*/
    font-weight: bold;
    margin-bottom: 3px;
    display: block;
}

.input-group input {
    width: 95%;
    padding: 10px;
    border: none;
    border-radius: 8px;
    background: #edf0ed;
    color: #000000;
    font-size: 1em;
    outline: none;
    transition: background 0.3s;
}

.input-group input:focus {
    background: #476e4c;
}

.cadastro-btn {
    width: 100%;
    padding: 12px;
    background: #c4c2c2;
    color: #5c5a5a;
    border: none;
    border-radius: 8px;
    font-size: 1.1em;
    cursor: not-allowed;
    margin-top: 10px;
    transition: background 0.3s, color 0.3s;
    opacity: 0.7;
}

.cadastro-btn:enabled {
    cursor: pointer;
    opacity: 1;
}

.cadastro-btn:enabled:hover,
.cadastro-btn:enabled:focus {
    background: #83db3b;
    color: #291f1f; 
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.cadastro-container small {
    color: #1d7221;
    display: block;
    margin-top: 10px;
}

.mensagem {
    margin-bottom: 15px;
    color: #27ae60;
    font-weight: bold;
}

.erro {
    margin-bottom: 15px;
    color: #c0392b;
    font-weight: bold;
}