body {
    background-image: url(imagens/maca.jpeg);
    font-family: Arial, sans-serif;
    min-height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.login-container {
    background: rgba(255,255,255,0.95);
    position: relative;
    z-index: 2;
    border-radius: 18px;
    box-shadow: 0 8px 32px 0 rgba(31,38,135,0.15);
    padding: 40px 30px 30px 30px;
    width: 350px;
    position: relative;
    text-align: center;
    animation: slideDown 1s ease;
}
@keyframes slideDown {
    from { transform: translateY(-60px); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
}
.login-container img {
    width: 80px;
    margin-bottom: 10px;
    animation: pulse 2s infinite;
}
@keyframes pulse {
    0% { transform: scale(1);}
    50% { transform: scale(1.07);}
    100% { transform: scale(1);}
}
.login-container h2 {
    margin-bottom: 18px;
}
.input-group {
    margin-bottom: 18px;
}
.input-group input {
    width: 95%;
    padding: 10px;
    border: none;
    border-radius: 8px;
    background: #edf0ed;
    color: #000000;
    font-size: 1em;
    outline: none;
    transition: background 0.3s;
}
.input-group input:focus {
    background: #9be0a4;
}
.login-btn {
    width: 100%;
    padding: 12px;
    background: #c4c2c2;
    color: #5c5a5a;
    border: none;
    border-radius: 8px;
    font-size: 1.1em;
    cursor: not-allowed;
    margin-top: 10px;
    transition: background 0.3s, color 0.3s;
}
.login-btn:enabled {
    cursor: pointer;
    opacity: 1;
    background: #cccccc;
    color: #888888;
}
.login-btn:enabled:hover,
.login-btn:enabled:focus {
    background: #83db3b;
    color: #291f1f;
}

@keyframes fadeIn {
    from { opacity: 0;}
    to { opacity: 1;}
}
.login-container small {
    color: #1d7221;
    display: block;
    margin-top: 10px;
}
.mensagem-sucesso {
    background: #eafaf1;
    color: #27ae60;
    border: 1px solid #27ae60;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 18px;
    font-weight: bold;
    font-size: 1em;
    animation: fadeIn 0.8s;
}